.productList img{
    width: 250px;
    height: 300px;
    object-fit: cover;
}
.productList{

    padding: 10px;
    border: 1px solid gray;
}
.productList h5{
    font-weight: bolder;
    font-size: 22px;
}
.productList h5 p{
    font-size: 19px;
    font-weight: 400;
    color: black;
    display: inline-block;
}
.productList h5 p span{
    cursor: pointer;
}